.elementor-widget-the7-woocommerce-product-price .price {
  display: block;
  transition: all 300ms ease;
  margin-bottom: 0;
  color: var(--e-global-color-the7_content_primary_text_color);
  font-family: var(--the7-woo-content-font-family);
  font-size: var(--the7-h5-font-size-desktop);
}
.elementor-widget-the7-woocommerce-product-price .price span,
.elementor-widget-the7-woocommerce-product-price .price ins,
.elementor-widget-the7-woocommerce-product-price .price ins span {
  color: var(--e-global-color-the7_content_primary_text_color);
  font-family: var(--the7-woo-content-font-family);
}
.elementor-widget-the7-woocommerce-product-price .price del,
.elementor-widget-the7-woocommerce-product-price .price del span {
  color: var(--e-global-color-the7_content_secondary_text_color);
  font-family: var(--the7-woo-content-font-family);
}