.elementor-widget-the7-woocommerce-product-additional-information {
	.shop_attributes {
		background-color: transparent;
		border: none;
		margin: 0;
		th {
			font-weight: normal;
			border: none;
		}
		td {
			border: none;
		}
		tr {
			&:not(:first-child) {
				td {
					border-color: var( --e-global-color-the7_dividers_color );
				}
				th {
					border-color: var( --e-global-color-the7_dividers_color );
				}
			}
		}
	}
	&:not(wc-product-info-yes) {
		tr {
			&:not(:first-child) {
				th {
					border: none;
				}
				td {
					border: none;
				}
			}
		}
	}
	&:not(wc-product-info-top-border-yes) {
		tr {
			&:first-child {
				th {
					border: none;
				}
				td {
					border: none;
				}
			}
		}
	}
	.woocommerce-product-attributes {
		.woocommerce-product-attributes-item__label {
			font-family: var(--e-global-typography-the7_big_size-font-family);
			font-weight: var(--e-global-typography-the7_big_size-font-weight);
			color: var(--e-global-color-the7_content_headers_color);
		}
		.woocommerce-product-attributes-item__value {
			font-family: var(--e-global-typography-the7_big_size-font-family);
			font-weight: var(--e-global-typography-the7_big_size-font-weight);
			color: var(--e-global-color-the7_content_primary_text_color);
		}
	}
}
.elementor-widget-the7-woocommerce-product-additional-information.wc-product-info-top-border-yes {
	tr {
		&:first-child {
			th {
				border-color: var( --e-global-color-the7_dividers_color );
			}
			td {
				border-color: var( --e-global-color-the7_dividers_color );
			}
		}
	}
}
.elementor-widget-the7-woocommerce-product-additional-information.wc-product-info-bottom-border-yes {
	tr {
		&:last-child {
			th {
				border-color: var( --e-global-color-the7_dividers_color );
			}
			td {
				border-color: var( --e-global-color-the7_dividers_color );
			}
		}
	}
}
