:root {
  --the7-base-border-radius: @border-radius-size;
  --the7-accent-color: @accent-color;
  --the7-accent-gradient: @accent-gradient;
  --the7-title-color: @title-color;
  --the7-links-color: @links-color;
  --the7-filter-pointer-border-width: @filter-decoration-line-size;
  --the7-filter-pointer-bg-radius: @filter-border-radius;
  --the7-general-border-radius: @border-radius-size;
  --the7-text-big-line-height: @text-big-line-height;
  --the7-text-big-font-size: @text-big;
  --the7-button-normal-bg-color: @button-normal-bg-color;
  --the7-button-hover-bg-color: @button-hover-bg-color;
  --the7-big-button-border-radius: @dt-btn-l-border-radius;
  --the7-medium-button-border-radius: @dt-btn-m-border-radius;
  --the7-small-button-border-radius: @dt-btn-s-border-radius;
  --the7-woo-title-font-style: @woo-title-font-style;
  --the7-woo-title-font-variant: @woo-title-font-variant;
  --the7-woo-title-font-weight: @woo-title-font-weight;
  --the7-woo-title-font-size: @woo-title-font-size-desktop;
  --the7-woo-title-line-height: @woo-title-line-height-desktop;
  --the7-woo-title-font-family: @woo-title-font-family;
  --the7-woo-content-font-style: @woo-content-font-style;
  --the7-woo-content-font-variant: @woo-content-font-variant;
  --the7-woo-content-font-weight: @woo-content-font-weight;
  --the7-woo-content-font-size: @woo-content-font-size-desktop;
  --the7-woo-content-line-height: @woo-content-line-height-desktop;
  --the7-woo-content-font-family: @woo-content-font-family;
}