.elementor-button,
.elementor-widget-accordion a,
.elementor-tab-title a,
.elementor-tab-title a,
.elementor-cta,
.elementor-headline,
.elementor-widget .elementor-icon-list-item a,
.elementor-widget-reviews .elementor-testimonial__header,
.elementor-post-navigation .elementor-post-navigation__link a,
.elementor-nav-menu--main .elementor-nav-menu a,
.elementor-price-list .elementor-price-list-item,
.elementor-blockquote__tweet-button {
  text-decoration: none;
}

.elementor-slideshow__header {
  box-sizing: border-box;
}

body.elementor-clear-template #main > .wf-wrap,
#footer.elementor-footer > .wf-wrap {
  width: auto;
  padding: 0;
}

body.elementor-clear-template #main,
#footer.elementor-footer > .wf-wrap,
#footer.elementor-footer > .wf-wrap > .wf-container-footer,
#footer.elementor-footer > .wf-wrap > .wf-container-footer > .wf-container {
  padding: 0;
  margin: 0;
}

/*predefined styles*/
input.elementor-field,
textarea.elementor-field,
select.elementor-field {
  height: auto;
  padding: 5px 14px;
  border-radius: 3px;
}

.elementor-field-textual {
  line-height: 1.4;
  font-size: 15px;
  min-height: 40px;
  padding: 5px 14px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.elementor-field-textual.elementor-size-xs,
.content .elementor-field-textual.elementor-size-xs {
  font-size: 13px;
  line-height: 1.4;
  min-height: 33px;
  padding: 4px 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.elementor-field-textual.elementor-size-md,
.content .elementor-field-textual.elementor-size-md {
  font-size: 16px;
  line-height: 1.4;
  min-height: 47px;
  padding: 6px 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.elementor-field-textual.elementor-size-lg,
.content .elementor-field-textual.elementor-size-lg {
  font-size: 18px;
  line-height: 1.4;
  min-height: 59px;
  padding: 7px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.elementor-field-textual.elementor-size-xl,
.content .elementor-field-textual.elementor-size-xl {
  font-size: 20px;
  line-height: 1.4;
  min-height: 72px;
  padding: 8px 24px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.elementor-form .elementor-button.elementor-size-xs {
  min-height: 33px;
}

.elementor-form .elementor-button.elementor-size-sm {
  min-height: 40px;
}

.elementor-form .elementor-button.elementor-size-md {
  min-height: 47px;
}

.elementor-form .elementor-button.elementor-size-lg {
  min-height: 59px;
}

.elementor-form .elementor-button.elementor-size-xl {
  min-height: 72px;
}

.elementor-button.elementor-size-xs {
  font-size: 13px;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.elementor-button.elementor-size-md {
  font-size: 16px;
  padding: 15px 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.elementor-button.elementor-size-lg {
  font-size: 18px;
  padding: 20px 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.elementor-button.elementor-size-xl {
  font-size: 20px;
  padding: 25px 50px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.elementor-wc-products .star-rating span:before,
.elementor-widget-woocommerce-product-rating .star-rating span:before {
  color: inherit;
}

.elementor-add-to-cart .quantity input.qty {
  height: auto;
  width: auto;
}

/*.woocommerce div.product.elementor form.cart table.variations td.value select {
  -webkit-appearance: sliderthumb-vertical !important;
}*/
.elementor-widget-woocommerce-product-add-to-cart form.cart div.quantity {
  margin: 0 10px 0 0;
}

.elementor-widget-woocommerce-product-add-to-cart table.variations {
  margin-bottom: 0;
}

.elementor-widget-wc-add-to-cart table.variations,
.elementor-widget-wc-add-to-cart table.variations tbody,
.elementor-widget-wc-add-to-cart .variations select {
  width: 100%;
}

.elementor-menu-cart__main .product_list_widget.cart_list {
  margin: 0 0 15px 0;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.elementor-menu-cart__main .variation dt {
  clear: initial;
}

.elementor-button span,
button.elementor-button *,
button.elementor-button:hover *,
.elementor-button .elementor-button-content-wrapper * {
  color: inherit;
}

.elementor-menu-cart__main .variation dd {
  float: initial;
}

.elementor-align-center .woocommerce-variation-add-to-cart {
  justify-content: center;
}

.elementor-align-right .woocommerce-variation-add-to-cart {
  justify-content: flex-end;
}

.elementor-align-justify form.cart .quantity {
  margin-bottom: 15px;
}

.elementor-widget-woocommerce-product-images .woocommerce-product-gallery__wrapper,
.elementor-widget-woocommerce-product-images .woocommerce-product-gallery__image,
.elementor-widget-woocommerce-product-images .woocommerce-product-gallery__image img {
  border-radius: inherit;
}

.elementor-star-rating {
  line-height: 1;
}

/*Vertical menu*/

#page .dt-nav-menu {
  list-style: none;
  margin: 0;
}

.dt-nav-menu li {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.dt-nav-menu a {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  /*align-items: center;*/
  transition: all 0.3s;
  border: 0 solid;
  line-height: 1.2;

}

.dt-nav-menu li .item-content {
  display: flex;
  align-items: center;
  order: 1;
}

.content ul.vertical-sub-nav {
  margin: 0;
}

.dt-nav-menu li > .mega-menu-img-top .item-content,
.dt-nav-menu li > .mega-menu-img-top_align_left .item-content,
.dt-nav-menu li > .mega-menu-img-right_top .item-content,
.dt-nav-menu li > .mega-menu-img-left_top .item-content {
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

/*.dt-sub-menu-display-on_click .dt-nav-menu a {
  width: calc(100% - 30px);
}*/

.dt-nav-menu__align-center ul li,
.dt-nav-menu__align-center ul li a,
.dt-nav-menu__align-center ul li a > .item-content {
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
}

#page .dt-nav-menu__align-right ul li,
#page .dt-nav-menu__align-right ul li a {
  justify-content: inherit;
}

.dt-nav-menu__align-left li > a.mega-menu-img-top_align_left .item-content,
.dt-nav-menu__align-left li > a.mega-menu-img-top .item-content,
.dt-nav-menu__align-left li > a.mega-menu-img-right_top .item-content,
.dt-nav-menu__align-left li > a.mega-menu-img-left_top .item-content {
  align-items: inherit;
}

.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-top .item-content,
.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-top_align_left .item-content,
.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-right_top .item-content,
.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-left_top .item-content {
  align-items: inherit;
  text-align: inherit;
}

.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > .mega-menu-img-right .item-content {
  text-align: inherit;
}

.dt-nav-menu a:not(.mega-menu-img-top):not(.mega-menu-img-top_align_left):not(.mega-menu-img-right_top):not(.mega-menu-img-left_top) {
  align-items: inherit;
}

.dt-sub-menu-display-on_click .dt-nav-menu li > .vertical-sub-nav,
.dt-sub-menu-display-on_item_click .dt-nav-menu li > .vertical-sub-nav {
  display: none;
}

.dt-nav-menu li > .vertical-sub-nav {
  width: 100%;
}

.dt-sub-menu-display-on_click li .next-level-button,
.dt-sub-menu-display-on_item_click li .next-level-button {
  display: none;
}

.dt-nav-menu .has-children > a .next-level-button {
  position: relative;
  align-self: center;
  display: flex;
  line-height: 1.2;
  text-align: center;
}

.dt-nav-menu .has-children > a .next-level-button i {
  width: 1.25em;
}

.dt-nav-menu .next-level-button.left {
  margin-right: 10px;
  order: 0;
}

.dt-nav-menu .next-level-button.right {
  margin-left: 10px;
  order: 2;
}

.dt-nav-menu .subtitle-text {
  font-size: 70%;
}

/*Vertical menu*/

#page .dt-nav-menu {
  list-style: none;
  margin: 0;
}

.dt-nav-menu li {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.dt-nav-menu a {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  /*align-items: center;*/
  transition: all 0.3s;
  border: 0 solid;
  line-height: 1.2;

}

.dt-nav-menu li .item-content {
  display: flex;
  align-items: center;
  order: 1;
}

.content ul.vertical-sub-nav {
  margin: 0;
}

.dt-nav-menu li > .mega-menu-img-top .item-content,
.dt-nav-menu li > .mega-menu-img-top_align_left .item-content,
.dt-nav-menu li > .mega-menu-img-right_top .item-content,
.dt-nav-menu li > .mega-menu-img-left_top .item-content {
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

/*.dt-sub-menu-display-on_click .dt-nav-menu a {
  width: calc(100% - 30px);
}*/

.dt-nav-menu__align-center ul li,
.dt-nav-menu__align-center ul li a,
.dt-nav-menu__align-center ul li a > .item-content {
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
}

#page .dt-nav-menu__align-right ul li,
#page .dt-nav-menu__align-right ul li a {
  justify-content: inherit;
}

.dt-nav-menu__align-left li > a.mega-menu-img-top_align_left .item-content,
.dt-nav-menu__align-left li > a.mega-menu-img-top .item-content,
.dt-nav-menu__align-left li > a.mega-menu-img-right_top .item-content,
.dt-nav-menu__align-left li > a.mega-menu-img-left_top .item-content {
  align-items: inherit;
}

.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-top .item-content,
.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-top_align_left .item-content,
.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-right_top .item-content,
.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > a.mega-menu-img-left_top .item-content {
  align-items: inherit;
  text-align: right;
}

.dt-nav-menu__align-right .dt-nav-menu li:not(.dt-mega-parent) > .mega-menu-img-right .item-content {
  text-align: right;
}

.dt-nav-menu a:not(.mega-menu-img-top):not(.mega-menu-img-top_align_left):not(.mega-menu-img-right_top):not(.mega-menu-img-left_top) {
  align-items: center;
}

.dt-sub-menu-display-on_click .dt-nav-menu li > .vertical-sub-nav,
.dt-sub-menu-display-on_item_click .dt-nav-menu li > .vertical-sub-nav {
  display: none;
}

.dt-nav-menu li > .vertical-sub-nav {
  width: 100%;
}

.dt-sub-menu-display-on_click li .next-level-button,
.dt-sub-menu-display-on_item_click li .next-level-button {
  display: none;
}

.dt-nav-menu .has-children > a .next-level-button {
  position: relative;
  align-self: center;
  display: flex;
  line-height: 1.2;
  text-align: center;
}

.dt-nav-menu .has-children > a .next-level-button i {
  width: 1.25em;
}

.dt-nav-menu .next-level-button.left {
  margin-right: 10px;
  order: 0;
}

.dt-nav-menu .next-level-button.right {
  margin-left: 10px;
  order: 2;
}

.dt-nav-menu .subtitle-text {
  font-size: 70%;
}

.elementor-lightbox .elementor-swiper-button:focus,
.elementor-lightbox .elementor-swiper-button {
  outline: none !important;
}

.elementor-field-group .elementor-select-wrapper:before {
  display: none;
}

.content .elementor-toc__list-wrapper {
  list-style: none;
}

.elementor-alert-description {
  display: block;
}

.elementor-widget-woocommerce-product-price .price {
  margin-bottom: 0;
}

body .product .elementor-widget-woocommerce-product-images div.images {
  margin: 0;
}

body .elementor-widget-wp-widget-woocommerce_product_categories ul.product-categories,
body .elementor-widget-wp-widget-woocommerce_recently_viewed_products ul,
body .elementor-widget-wp-widget-woocommerce_top_rated_products ul,
body .elementor-widget-wp-widget-woocommerce_products ul,
body .elementor-widget-wp-widget-woocommerce_recent_reviews ul,
body .elementor-widget-wp-widget-woocommerce_widget_cart ul,
body .elementor-widget-wp-widget-woocommerce_layered_nav ul,
body .elementor-widget-wp-widget-woocommerce_layered_nav_filters ul,
body .elementor-widget-wp-widget-woocommerce_layered_nav_filters select,
body .elementor-widget-wp-widget-woocommerce_layered_nav select {
  margin: 0;
}

.elementor-widget-wp-widget-woocommerce_product_categories ul.product-categories ul {
  margin-bottom: 0;
}

.elementor-widget-wp-widget-woocommerce_product_categories select {
  max-width: 100%;
  width: 100%;
}

.elementor-widget .product_list_widget .star-rating {
  float: none;
}

.elementor-widget .woocommerce h5 {
  margin-bottom: 15px;
}

.elementor-widget-wp-widget-woocommerce_widget_cart .quantity {
  text-align: left;
}

.elementor-widget-wp-widget-woocommerce_layered_nav .select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-flex;
  align-items: center;
}

#page .elementor-widget-wp-widget-woocommerce_layered_nav .select2-container--default .select2-selection--multiple li {
  margin: 0 1px 1px 0;
}

.elementor-widget .dt-wc-product-gallery {
  align-items: flex-start;
}

.elementor-widget .dt-wc-product-gallery .flexslider{
  visibility: hidden;
}

.elementor-widget .dt-product-gallery .flexslider{
  position: relative;
}

.elementor-widget .dt-product-thumbs,
.elementor-widget .dt-product-thumbs .flexslider{
  position: relative;
  width: 100%;
}

.elementor-widget .dt-wc-product-gallery[data-animation="fade"] .dt-product-gallery ul.slides{
  overflow: hidden;
}

.elementor-widget .dt-product-thumbs .flex-viewport {
  z-index: 2;
  min-width: 100%;
  height: 100%;
}

/*.thumb-position-bottom .dt-product-thumbs {
  padding: 0 20px;
}*/
.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides{
  width: auto !important;
  height: 800%;
}

.elementor-widget .stop-transition .slides {
  transform: translate3d(0px, 0px, 0px) !important;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides li{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.elementor-widget .dt-product-thumbs .slides .slide-wrapper,
.elementor-widget .dt-product-gallery .slides > li > a{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.content .elementor-widget .dt-wc-product-gallery ul {
  margin: 0;
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .slides {
  display: flex;
  align-items: center;
}

.elementor-widget .dt-product-gallery ul.slides {
  display: flex;
  align-items: center;
}

.elementor-widget .dt-wc-product-gallery .dt-product-thumbs,
.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ){
  display: flex;
}

.elementor-widget .thumb-position-bottom .dt-wc-product-gallery {
  flex-flow: row wrap;
}


.elementor-widget .product .dt-wc-product-gallery div.images,
.elementor-widget .thumb-position-right .dt-product-thumbs {
  width: 100%;
}

.elementor-widget .dt-product-gallery .slides li {
  text-align: center;
  line-height: 0;
  max-width: 100%;
  overflow: visible !important;
}

/*fix to prevent animation flickering*/
.elementor-widget .dt-product-gallery .slides > li,
.elementor-widget .dt-product-thumbs .slides > li > .slide-wrapper{
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateZ(0px) scale(1.0, 1.0);
}
/*endfix*/

.elementor-widget .dt-product-gallery .slides a {
  pointer-events: none;
  display: block;
}

.elementor-widget .thumb-position-left .dt-product-gallery {
  order: 1;
}

.elementor-widget .thumb-position-left .dt-product-thumbs {
  order: 0;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides .slide-wrapper,
div[class*='elementor-widget-the7']:not(.preserve-thumb-ratio-y) .dt-product-thumbs .slides .slide-wrapper,
div[class*='elementor-widget-the7']:not(.preserve-img-ratio-y) .the7-product-navigation .img-ratio-wrapper{
  overflow: hidden;
  width: 100%;
  height: 0;
  position: relative;
}

.elementor-widget .dt-product-gallery{
  position: relative;
  height: 0;
  width: 100%;
}

.elementor-widget .dt-product-gallery .slides,
.elementor-widget .dt-product-gallery .flex-viewport,
.elementor-widget .dt-product-gallery .flexslider,
.elementor-widget .dt-product-gallery{
  height: 100%;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .flexslider{
  width: inherit;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs {
  width: calc(
      (1/var(--thumbs_ratio))
      *
      ((var(--widget-width) - ((1/var(--gallery-ratio))*var(--thumbs-spacing)*var(--thumbs-items)) + ((1/var(--gallery-ratio))*var(--thumbs-spacing)) - var(--gallery-spacing))
      /
      ((((1/var(--gallery-ratio))*var(--thumbs-items)) + (1/var(--thumbs_ratio))))
      )
  )
}

.elementor-widget .dt-product-gallery:before {
  content: "";
  float: left;
  width: 100%;
}
.elementor-widget .dt-product-gallery:after {
  content: "";
  display: table;
  clear: both;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides .slide-wrapper{
  height: 100%;
}

.elementor-widget.preserve-thumb-ratio-y .thumb-position-bottom  .dt-product-thumbs .slides .slide-wrapper img{
	height: auto !important;
}

/*image ratio styles*/
.elementor-widget:not(.preserve-thumb-ratio-y) .dt-product-thumbs .slides .slide-wrapper img,
.elementor-widget:not(.preserve-gallery-ratio-y) .dt-product-gallery .slides a img,
.elementor-widget:not(.preserve-img-ratio-y) .the7-product-navigation a img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*ie fallback*/
.elementor-widget .slides .slide-wrapper.compat-object-fit img,
.elementor-widget .slides li.compat-object-fit a img,
.elementor-widget .the7-product-navigation .img-ratio-wrapper.compat-object-fit img{
  display:none;
}
.elementor-widget .slides .slide-wrapper.compat-object-fit,
.elementor-widget .slides li.compat-object-fit,
.elementor-widget .the7-product-navigation .img-ratio-wrapper.compat-object-fit{
  background-size: cover;
  background-position: center center;
}
.elementor-widget.preserve-thumb-ratio-y .dt-product-thumbs .slides .slide-wrapper.compat-object-fit,
.elementor-widget.preserve-gallery-ratio-y .dt-product-gallery .slides li.compat-object-fit,
.elementor-widget.preserve-img-ratio-y .the7-product-navigation .img-ratio-wrapper.compat-object-fit{
  background-size: contain;
  background-repeat: no-repeat;
}
/*end ie fallback*/

.elementor-widget:not(.preserve-thumb-ratio-y) .dt-product-thumbs .flexslider .slides .slide-wrapper img,
.elementor-widget:not(.preserve-gallery-ratio-y) .dt-product-gallery .flexslider .slides a img,
.elementor-widget:not(.preserve-img-ratio-y) .the7-product-navigation .img-ratio-wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.elementor-widget:not(.preserve-thumb-ratio-y) .dt-product-thumbs .slides .slide-wrapper,
.elementor-widget .dt-product-gallery .slides > li{
  height: 100%;
}

body .elementor-widget .dt-product-gallery-wrap{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  float: none;
  padding: 0;
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .slides,
.elementor-widget .thumb-position-bottom .dt-product-thumbs .slides li{
  height:100%;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides li{
  width: 100% !important;
}

.content .elementor-widget .flex-direction-nav {
  list-style: none;
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li{
  position: absolute;
  z-index: 250;
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li > a{
  min-width: 45px;
  min-height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease;
}

.elementor-widget .dt-product-thumbs .flex-direction-nav > li > a{
  min-width: 40px;
  min-height: 40px;
}

.elementor-widget.gallery-nav-display-never .dt-product-gallery .flex-direction-nav,
.elementor-widget.thumbs-nav-display-never .dt-product-thumbs .flex-direction-nav{
  display: none;
}

.elementor-widget.gallery-nav-display-hover .dt-product-gallery .flex-direction-nav > li > a,
.elementor-widget.thumbs-nav-display-hover .dt-product-thumbs .flex-direction-nav > li > a{
  opacity: 0;
  overflow: hidden;
}

.elementor-widget.gallery-nav-display-hover .dt-product-gallery .flexslider:hover .flex-direction-nav > li > a,
.elementor-widget.thumbs-nav-display-hover .dt-product-thumbs .flexslider:hover .flex-direction-nav > li > a{
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.elementor-widget.gallery-nav-display-hover .dt-product-gallery .flex-next,
.elementor-widget.thumbs-nav-display-hover .dt-product-thumbs .flex-next{
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.elementor-widget.gallery-nav-display-hover .dt-product-gallery .flex-prev,
.elementor-widget.thumbs-nav-display-hover .dt-product-thumbs .flex-prev{
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
}

.elementor-widget .dt-product-gallery .flex-direction-nav > li,
.elementor-widget .thumb-position-bottom .dt-product-thumbs .flex-direction-nav > li{
  top: 50%;
  transform: translateY(-50%);
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .flex-direction-nav > .flex-nav-prev,
.elementor-widget .dt-product-gallery .flex-direction-nav > .flex-nav-prev {
  left: 0;
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .flex-direction-nav > .flex-nav-next,
.elementor-widget .dt-product-gallery .flex-direction-nav > .flex-nav-next {
  right: 0;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom) .dt-product-thumbs .flex-direction-nav > .flex-nav-prev{
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom) .dt-product-thumbs .flex-direction-nav > .flex-nav-next{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-270deg);
}

.elementor-widget .dt-product-gallery .flex-direction-nav > li > a{
  font-size: 24px;
}

.elementor-widget .dt-product-thumbs .flex-direction-nav > li > a{
  font-size: 16px;
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li > a{
  color: rgba(0, 0, 0, 0.5);
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li > a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.dt-wc-product-gallery .dt-product-thumbs .slides .slide-wrapper,
.dt-wc-product-gallery .dt-product-gallery .flexslider .flex-viewport,
.elementor-widget .dt-wc-product-gallery[data-animation="fade"] .dt-product-gallery ul.slides{
  border-color: var(--the7-divider-color);
}

.elementor-widget .dt-wc-product-gallery .stop-transition .flex-direction-nav,
.elementor-widget .dt-wc-product-gallery .flex-direction-nav .flex-disabled{
  display: none;
}

.elementor-widget .dt-product-thumbs .slides li {
  line-height: 0;
  display: flex !important;
  transition: opacity 0.2s ease-in-out;
}

.elementor-widget .dt-product-thumbs .slides li:not(.flex-active-slide) {
  opacity: 0.5;
}

.elementor-widget .dt-product-thumbs .slides li:not(.flex-active-slide):hover {
  cursor: pointer;
  opacity: 1;
}

.elementor-widget .dt-product-gallery .zoom-flash {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  box-sizing: content-box;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 14px;
  text-indent: 0;
  display: none;
  color: #fff;
}

.elementor-widget .dt-product-gallery .zoom-flash:before {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementor-widget .dt-product-gallery .zoom-flash:after {
  display: none;
}

.elementor-widget .dt-product-gallery span.onsale {
  padding: 0;
  display: none;
  min-height: 39px;
  min-width: 39px;
  line-height: 39px;
}

.elementor-widget.lightbox-on-click-y .dt-product-gallery .woocommerce-product-gallery__image{
  cursor: pointer;
}

.elementor-popup-modal ul {
  list-style: disc outside none;
  margin: 0 0 10px 20px;
}
.elementor-popup-modal ol {
  list-style-type: decimal;
  margin: 0 0 10px 20px;
}

/*Product tab*/

.hide-tab-description #tab-title-description,
.hide-tab-description #tab-description,
.hide-tab-additional #tab-title-additional_information,
.hide-tab-additional #tab-additional_information,
.hide-tab-eviews #tab-title-reviews,
.hide-tab-eviews #tab-reviews {
  display: none !important;
}
.the7-elementor-widget.elementor-tabs .woocommerce-tabs .tabs li {
  margin: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.the7-elementor-widget.elementor-tabs .woocommerce-tabs .tabs li > a {
  display: block;
  transition: all 0.3s;
}
.the7-elementor-widget .woocommerce-tabs {
  padding-top: 0;
}
.the7-elementor-widget > .woocommerce-tabs > .panel {
  display: none;
}
#page .the7-elementor-widget .woocommerce-tabs .panel {
  margin-top: 0;
  text-align: left;
}
.the7-elementor-widget .tabs li:after {
  position: absolute;
  display: block !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: green;
}
.dt-tabs-view-accordion.the7-elementor-widget .wc-tabs {
  display: none;
}
.dt-tab-accordion-title {
  display: none;
  position: relative;
}

.tabs-accordion-align-center .the7-elementor-widget .dt-tab-accordion-title {
  text-align: center;
}
.tabs-accordion-align-right .the7-elementor-widget .dt-tab-accordion-title {
  text-align: right;
}
.dt-tabs-view-accordion.the7-elementor-widget .dt-tab-accordion-title {
  display: block;
  border: 0;
}
.woocommerce .product.elementor .dt-tabs-view-accordion .woocommerce-tabs .panel {
  border-top-width: 0;
  padding: 0;
}
/*Horizontal tabs*/

.tabs-top-align-justify .the7-elementor-widget .wc-tabs {
  display: flex;
}
/*.tabs-top-align-justify .the7-elementor-widget .wc-tabs li {
  flex-grow: 1;
}*/

.woocommerce .the7-elementor-widget.dt-tabs-view-horizontal .tabs li.active:before,
.woocommerce .the7-elementor-widget.dt-tabs-view-horizontal .tabs li.active:after {
    bottom: 0;
    top: auto;
    height: 0;
    width: 999em;
    border-bottom-style: solid !important;
}


.dt-tabs-view-horizontal .wc-tabs {
  display: flex;
}
.dt-tabs-view-horizontal .wc-tabs li {
  border: solid transparent;
  display: inline-flex;
  float: none;
}
/*Vertical tabs*/
.the7-elementor-widget.dt-tabs-view-vertical .woocommerce-tabs {
  display: flex;
}
.the7-elementor-widget .woocommerce-tabs .shop_attributes {
  padding: 0;
}
.the7-elementor-widget.dt-tabs-view-vertical .wc-tabs {
  display: flex;
  flex-flow: column;
  padding: 0;
}
.elementor-position-right .the7-elementor-widget .wc-tabs {
  order: 1;
}
.tabs-top-align-center .dt-tabs-view-horizontal .wc-tabs {
  justify-content: center;
}
.tabs-top-align-right .dt-tabs-view-horizontal .wc-tabs {
  justify-content: flex-end;
}
.tabs-top-align-justify .dt-tabs-view-horizontal .wc-tabs li {
  align-items: center;
  flex-grow: 1;
}
.the7-elementor-widget .dt-tabs-view-vertical .woocommerce-tabs .woocommerce-Tabs-panel {
  margin-top: 0 !important;
  text-align: left;
}
.dt-tabs-view-vertical .wc-tabs li {
  position: relative;
  float: none;
  display: flex;
  margin: 0;
  border: solid transparent;
}

/*.the7-elementor-widget.dt-tabs-view-vertical .tabs li.active {
  border-right-style: none;
}*/
.the7-elementor-widget .tabs li.active:before,
.the7-elementor-widget .tabs li.active:after {
    display: block !important;
    content: '' !important;
    position: absolute !important;
}
.woocommerce .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:before,
.woocommerce .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:after {
    height: 999em;
    width: 0;
    right: 0;
    left: auto;
    border-right-style: solid !important;
}
.elementor-position-right .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:before,
.elementor-position-right .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:after {
  right: auto;
  left: 0;
}

.elementor-widget-the7-woocommerce-product-data-tabs .woocommerce-product-attributes {
  margin-bottom: 0;
  background: none;
}
/*.dt-tabs-view-accordion .wc-tabs-wrapper:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}*/