/*! Prefix flex for IE10  in LESS
* https://gist.github.com/codler/2148ba4ff096a19f08ea
* Copyright (c) 2014 Han Lin Yap http://yap.nu; MIT license */
/* These are the conditional mixins for the different syntax for IE10 Flexbox */
.elementor-element.elementor-widget .ele-entry-title a,
.elementor-element.elementor-widget .entry-meta a,
.elementor-element.elementor-widget .entry-meta > span,
.elementor-element.elementor-widget .portfolio-categories a,
.elementor-element.elementor-widget .portfolio-categories > span {
  text-decoration: inherit;
}
.elementor-element.elementor-widget .ele-entry-title a:hover,
.elementor-element.elementor-widget .entry-meta a:hover,
.elementor-element.elementor-widget .entry-meta > span:hover,
.elementor-element.elementor-widget .portfolio-categories a:hover,
.elementor-element.elementor-widget .portfolio-categories > span:hover {
  text-decoration: inherit;
}
.elementor-widget.elementor-widget-the7_elements_carousel {
  /*Always show description*/
  /*Show icons*/
  /* #Direction aware
-------------------------------------------------- */
  /* #Scale In
-------------------------------------------------- */
}
.elementor-widget.elementor-widget-the7_elements_carousel article {
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mode-masonry:not(.bottom-overlap-layout-list) article,
.elementor-widget.elementor-widget-the7_elements_carousel .mode-grid:not(.bottom-overlap-layout-list) article {
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.elementor-widget.elementor-widget-the7_elements_carousel .bottom-overlap-layout-list article {
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list.mode-grid article,
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list.mode-grid article {
  height: auto;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-grid article,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-grid-reverse article {
  position: relative;
  overflow: hidden;
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list article {
  overflow: hidden;
  transform: translateZ(0);
}
.elementor-widget.elementor-widget-the7_elements_carousel .scale-img .post-thumbnail-rollover,
.elementor-widget.elementor-widget-the7_elements_carousel .quick-scale-img .post-thumbnail-rollover {
  transform: translateZ(0);
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail-wrap {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
}
.elementor-widget.elementor-widget-the7_elements_carousel .classic-layout-list .post-thumbnail {
  display: inline-block;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail {
  position: relative;
  display: block;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail > .post-thumbnail-rollover img {
  width: 100%;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .quick-scale-img.gradient-overlay-layout-list article:hover .post-thumbnail:not(.overlay-placeholder) > .post-thumbnail-rollover img,
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .quick-scale-img.content-rollover-layout-list article:hover .post-thumbnail:not(.overlay-placeholder) > .post-thumbnail-rollover img,
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .quick-scale-img.gradient-overlap-layout-list article:hover .post-thumbnail:not(.overlay-placeholder) > .post-thumbnail-rollover img {
  transform: scale(1.2);
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .quick-scale-img.gradient-overlay-layout-list article:hover .post-thumbnail:not(.overlay-placeholder) > .post-thumbnail-rollover img,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .quick-scale-img.content-rollover-layout-list article:hover .post-thumbnail:not(.overlay-placeholder) > .post-thumbnail-rollover img {
  transform: scale(1.2);
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list.scale-img article:hover .post-thumbnail > .post-thumbnail-rollover img,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list.scale-img article:hover .post-thumbnail > .post-thumbnail-rollover img {
  transform: scale(1.2);
  transition: transform 4s ease-out, opacity 0.25s ease-out;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content {
  line-height: 0;
  position: relative;
  z-index: 10;
}
@keyframes fadeInFromNone {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeToNone {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list .post-entry-content {
  position: relative;
  margin-top: -125px;
  z-index: 1;
  padding-top: 90px;
  display: block;
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list .post-entry-content:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 150px;
  content: "";
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list .post-entry-content {
  position: absolute;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background: none;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale.gradient-overlay-layout-list .post-entry-content {
  opacity: 0;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .post-entry-content {
  transform: scale(0);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article:hover .post-entry-content {
  opacity: 1;
  transform: scale(1);
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .rollover-project:hover:after,
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article:hover:after,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article:hover:after {
  opacity: 1;
  transform: scale(2);
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-grid .post-entry-content,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-grid-reverse .post-entry-content {
  opacity: 0;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-grid article:hover .post-entry-content,
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-grid-reverse article:hover .post-entry-content,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .hover-grid article:hover .post-entry-content,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .hover-grid-reverse article:hover .post-entry-content {
  opacity: 1;
}
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale.gradient-overlay-layout-list article:hover .post-entry-content,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article:hover .post-entry-content {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list .post-entry-content {
  height: auto;
  position: absolute;
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list.hover-fade article .post-entry-content {
  opacity: 0;
  visibility: hidden;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list.hover-fade article:hover .post-entry-content,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list.hover-fade article:hover .post-entry-content {
  opacity: 1;
  visibility: visible;
}
.mobile-false .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .post-thumbnail-rollover:after {
  display: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-excerpt {
  overflow: hidden;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta * {
  color: inherit;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta {
  padding: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta > span a {
  display: inline-block;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .the7-elementor-widget:not(.class-1):not(.keep-custom-css) .ele-entry-title a {
  transition: color 0.3s;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .the7-elementor-widget:not(.class-1):not(.keep-custom-css) .ele-entry-title a:hover {
  background: none;
  color: var(--the7-title-color);
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail-rollover:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 1;
  z-index: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail-rollover:after {
  transition: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail-rollover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail:hover .post-thumbnail-rollover:before,
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list article:hover .post-thumbnail-rollover:before,
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlay-layout-list article:hover .post-thumbnail-rollover:before,
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list article:hover .post-thumbnail-rollover:before {
  opacity: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .enable-bg-rollover .post-thumbnail > .post-thumbnail-rollover:after {
  opacity: 0;
  transition: opacity 0.3s;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail:hover > .post-thumbnail-rollover:after,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel article:hover .post-thumbnail > .post-thumbnail-rollover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list article:hover .post-thumbnail-rollover:after,
.mobile-true .elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list article:hover .post-thumbnail-rollover:after {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .description-under-image .post-thumbnail-wrap {
  text-align: center;
  line-height: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.3s;
  border-radius: var(--the7-base-border-radius);
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a > span {
  position: relative;
  z-index: 2;
  transition: color 0.3s;
  vertical-align: middle;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a > svg {
  position: relative;
  z-index: 2;
  align-self: center;
  transition: color 0.3s;
  width: 44px;
  height: 44px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .project-links-container {
  display: inline-block;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content:hover .project-links-container a,
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail:hover .project-links-container a,
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list article:hover .project-links-container a {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-thumbnail-wrap .project-links-container {
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .gradient-overlap-layout-list .project-links-container {
  height: calc(100% - 125px);
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta .meta-item {
  padding: 0;
  margin: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta .meta-item:not(:last-child) {
  margin: 0 5px 0 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta .meta-item:not(:first-child):before {
  position: relative;
  box-shadow: none;
  margin: 0 5px 0 0;
  height: auto;
  width: auto;
  content: '';
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta .meta-item:after {
  right: inherit;
  width: inherit;
  height: inherit;
  top: inherit;
  transform: inherit;
  content: "";
  background: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta > .data-link:hover {
  text-decoration: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hidden {
  display: none;
  opacity: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .bottom-overlap-layout-list article:not(.no-img) .project-links-container {
  height: calc(100% - 100px);
}
.elementor-widget.elementor-widget-the7_elements_carousel .bottom-overlap-layout-list article:not(.no-img) .post-entry-content {
  margin-top: -100px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .description-under-image .post-entry-content,
.elementor-widget.elementor-widget-the7_elements_carousel .description-on-hover .post-entry-content .post-entry-body {
  width: 100%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content,
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list .post-entry-wrapper {
  padding: 30px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .classic-layout-list .post-thumbnail {
  width: 100%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .ele-entry-title {
  margin-bottom: 10px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list.meta-info-off .post-entry-wrapper {
  bottom: -10px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-meta {
  margin-bottom: 10px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list .post-entry-wrapper {
  bottom: -10px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-excerpt {
  margin-bottom: 20px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .entry-excerpt p:last-child {
  margin-bottom: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0px;
  box-sizing: border-box;
  border-width: 0px;
  border-color: var(--the7-accent-color);
  background-color: var(--the7-accent-color);
  box-shadow: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a:before,
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a:after {
  display: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a:not(:hover) > span {
  color: #fff;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a > span {
  font-size: 16px;
  color: #fff;
}
.elementor-widget.elementor-widget-the7_elements_carousel .project-links-container a > span:before {
  line-height: 40px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-details i:first-child {
  margin-right: 5px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post-details i:last-child {
  margin-left: 5px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .filter {
  --filter-title-color-normal: var(--the7-title-color);
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-border-width: var(--the7-filter-pointer-border-width);
  --filter-pointer-bg-radius: var(--the7-filter-pointer-bg-radius);
  --filter-pointer-bg-color-active: var(--the7-accent-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
  line-height: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-without-decoration {
  --filter-title-color-hover: var(--the7-accent-color);
  --filter-title-color-active: var(--the7-accent-color);
}
.elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-bg-decoration {
  --filter-title-color-hover: var(--the7-accent-color);
  --filter-title-color-active: #fff;
}
.elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-bg-decoration .filter-categories a.act {
  background: var(--filter-pointer-bg-color-active);
}
.elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-underline-decoration {
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
}
.accent-gradient .elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-bg-decoration .filter-categories a:not(.act):hover {
  --filter-title-color-hover: transparent;
  background: var(--filter-pointer-bg-color-hover);
  -webkit-background-clip: text;
}
.accent-gradient .elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-without-decoration .filter-categories a:hover {
  background: var(--filter-pointer-bg-color-hover);
  -webkit-background-clip: text;
}
.accent-gradient .elementor-widget.elementor-widget-the7_elements_carousel .filter.filter-without-decoration .filter-categories a.act {
  background: var(--filter-pointer-bg-color-active);
  -webkit-background-clip: text;
}
.elementor-widget.elementor-widget-the7_elements_carousel .paginator {
  --filter-title-color-normal: var(--the7-title-color);
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-border-width: 2px;
  --filter-pointer-bg-radius: var(--the7-general-border-radius);
  --filter-pointer-bg-color-active: var(--the7-accent-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
  line-height: var(--the7-text-big-line-height);
  font-size: var(--the7-text-big-font-size);
  font-weight: normal;
  line-height: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .paginator .button-load-more {
  line-height: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .paginator .button-load-more .button-caption {
  font-weight: inherit;
}
.elementor-widget.elementor-widget-the7_elements_carousel .paginator .button-load-more i:first-child {
  margin: 0 5px 0 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .paginator .button-load-more i:last-child {
  margin: 0 0 0 5px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .paginator a {
  font-weight: normal;
  margin: 0 5px;
  padding: 5px 10px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .rollover-project {
  position: relative;
  overflow: hidden;
}
.elementor-widget.elementor-widget-the7_elements_carousel .post .rollover-project.alignnone {
  margin-bottom: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .rollover-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px 25px 10px;
  box-sizing: border-box;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.mobile-true .hover-style-two:not(.effect-layla):not(.effect-bubba):not(.effect-sarah) .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content {
  display: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .rollover-content:hover {
  cursor: pointer;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .rollover-content {
  display: block;
  opacity: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .rollover-project:hover .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .buttons-on-img:hover .rollover-content {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-grid .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .text-on-img.hover-grid .dt-owl-item {
  overflow: hidden;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .rollover-content.hide-content {
  display: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .albums .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .media .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .buttons-on-img .rollover-content {
  opacity: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .is-clicked.rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .is-clicked .buttons-on-img i {
  visibility: visible !important;
  opacity: 1 !important;
}
.elementor-widget.elementor-widget-the7_elements_carousel .always-show-info .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .always-show-info .rollover-content-container {
  display: block;
  opacity: 1 !important;
}
.elementor-widget.elementor-widget-the7_elements_carousel .rollover-content-container {
  position: relative;
  box-sizing: border-box;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container {
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
}
.description-under-image .elementor-widget.elementor-widget-the7_elements_carousel .links-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.effect-sarah .elementor-widget.elementor-widget-the7_elements_carousel .links-container {
  -ms-flex-pack: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.content-align-left-bottom.hover-style-two .elementor-widget.elementor-widget-the7_elements_carousel .links-container,
.content-align-left.hover-style-three .elementor-widget.elementor-widget-the7_elements_carousel .links-container {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
}
.content-align-left-top.hover-style-two .elementor-widget.elementor-widget-the7_elements_carousel .links-container {
  position: absolute;
  display: block;
  bottom: 15px;
  right: 15px;
  text-align: right;
}
.effect-layla .elementor-widget.elementor-widget-the7_elements_carousel .links-container,
.effect-bubba .elementor-widget.elementor-widget-the7_elements_carousel .links-container,
.effect-sarah .elementor-widget.elementor-widget-the7_elements_carousel .links-container {
  margin-top: 10px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .links-container {
  visibility: hidden;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .is-clicked .links-container,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .effect-layla.always-show-info .links-container,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .effect-bubba.always-show-info .links-container,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .effect-sarah.always-show-info .links-container {
  visibility: visible;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-style-two:not(.effect-layla):not(.effect-bubba):not(.effect-sarah) .is-clicked .links-container {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a {
  position: relative;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 100px;
  margin: 10px 5px 10px;
  opacity: 1;
  text-align: center;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  -webkit-backface-visibility: hidden;
}
.effect-sarah .elementor-widget.elementor-widget-the7_elements_carousel .links-container > a {
  margin: 5px 10px 5px 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:before,
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-sizing: border-box;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
}
.disable-icon-hover-bg .elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:before,
.disable-icon-hover-bg .elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:after {
  -webkit-transition: none;
  transition: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:before {
  background: rgba(255, 255, 255, 0.3);
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:after {
  background: rgba(255, 255, 255, 0.5);
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:before,
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:hover:after {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:after,
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:hover:before {
  opacity: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:hover:before,
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a:not(:hover):after {
  transition-delay: 0.1s;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-container > a > span {
  position: relative;
  z-index: 2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 16px;
  line-height: 44px;
}
.elementor-widget.elementor-widget-the7_elements_carousel .buttons-on-img .links-container > a,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-style-two:not(.hover-color-static) .links-container > a {
  box-sizing: border-box;
}
.elementor-widget.elementor-widget-the7_elements_carousel .cs-style-3 .rollover-content-wrap:before,
.elementor-widget.elementor-widget-the7_elements_carousel .description-under-image .links-container:before,
.elementor-widget.elementor-widget-the7_elements_carousel .description-under-image .links-container:after,
.elementor-widget.elementor-widget-the7_elements_carousel .links-container:after,
.elementor-widget.elementor-widget-the7_elements_carousel .links-container:before {
  content: "";
  display: table;
  clear: both;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content .ele-entry-title a {
  background: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .links-hovers-disabled .rollover-content .ele-entry-title a:hover {
  background: none;
  -webkit-background-clip: text;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content,
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content *,
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content h3.ele-entry-title,
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content h3.ele-entry-title a,
#page .elementor-widget.elementor-widget-the7_elements_carousel .post .rollover-content h4.ele-entry-title a:hover,
#page .elementor-widget.elementor-widget-the7_elements_carousel .post .rollover-content .ele-entry-title a:hover,
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content a:hover,
#page .elementor-widget.elementor-widget-the7_elements_carousel .post .rollover-content h3.ele-entry-title a:hover,
#page .elementor-widget.elementor-widget-the7_elements_carousel .hover-style-one h2.ele-entry-title,
#page .elementor-widget.elementor-widget-the7_elements_carousel .hover-style-two h2.ele-entry-title {
  color: #fff;
}
.elementor-widget.elementor-widget-the7_elements_carousel .rollover-content .portfolio-categories > a:after,
.elementor-widget.elementor-widget-the7_elements_carousel .rollover-content .portfolio-categories > span:after {
  background: #fff;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content h3.ele-entry-title,
#page .elementor-widget.elementor-widget-the7_elements_carousel .rollover-content .ele-entry-title a,
#page .elementor-widget.elementor-widget-the7_elements_carousel .post .rollover-content .ele-entry-title a:hover,
#page .elementor-widget.elementor-widget-the7_elements_carousel .hover-style-one h2.ele-entry-title,
#page .elementor-widget.elementor-widget-the7_elements_carousel .hover-style-two h2.ele-entry-title,
#page .elementor-widget.elementor-widget-the7_elements_carousel .hover-style-two h4.ele-entry-title {
  background: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-grid .rollover-content {
  -webkit-transition: none;
  transition: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-grid .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-grid-reverse .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale .rollover-content {
  /*display: block !important;*/
  top: 0 !important;
  left: 0 !important;
  opacity: 0;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-grid .is-clicked .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-grid-reverse .is-clicked .rollover-content,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale .is-clicked .rollover-content {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .rollover-content {
  background: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .post {
  overflow: hidden;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .rollover-project:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .post:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  content: "";
  border-radius: 50%;
  padding-bottom: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .post-thumbnail-rollover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .post:after {
  padding-bottom: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .gradient-overlay-layout-list .post-entry-content {
  background: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .ratio-2.rollover-project:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article.ratio-2.post:after {
  top: -50%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .ratio_3-2.rollover-project:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article.ratio_3-2:after {
  top: -25%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .ratio_4-3.rollover-project:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article.ratio_4-3:after {
  top: -16.6666%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .ratio_2-3.rollover-project:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article.ratio_2-3:after {
  top: 16.6666%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale .ratio_3-4.rollover-project:after,
.elementor-widget.elementor-widget-the7_elements_carousel .hover-scale article.ratio_3-4:after {
  top: 14.5%;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .rollover-project:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale article:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale article.is-clicked:after {
  opacity: 1;
  -webkit-transform: scale(1.42);
  transform: scale(1.42);
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .ratio_3-2.rollover-project:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale article.ratio_3-2:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale article.is-clicked.ratio_3-2:after {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .ratio_4-3.rollover-project:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale article.ratio_4-3:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale article.is-clicked.ratio_4-3:after {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .ratio_3-4.rollover-project:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale article.ratio_3-4:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale article.is-clicked.ratio_3-4:after {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .ratio_2-3.rollover-project:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale article.ratio_2-3:hover:after,
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-true .hover-scale article.is-clicked.ratio_2-3:after {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .rollover-content {
  background: none !important;
  background-color: transparent;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
}
.elementor-widget.elementor-widget-the7_elements_carousel .mobile-false .hover-scale .rollover-project:hover .rollover-content {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.elementor-widget.elementor-widget-the7_elements_carousel .content-rollover-layout-list:not(.disable-layout-hover) article:hover .post-entry-wrapper {
  bottom: 0;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .post-details,
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .post-details {
  float: none;
  vertical-align: middle;
  transition: all 0.3s;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .post-details i,
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .post-details i {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}
#page .elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .post-details:after,
.elementor-widget.elementor-widget-the7_elements_carousel .post-entry-content .post-details:after {
  display: none;
}
.elementor-widget.elementor-widget-the7_elements_carousel .portfolio-shortcode .post-entry-content .post-details:not(.class-1):not(.class-2) {
  background: var(--the7-button-normal-bg-color);
}
.elementor-widget.elementor-widget-the7_elements_carousel .portfolio-shortcode .post-entry-content .post-details:not(.class-1):not(.class-2):hover {
  background: var(--the7-button-hover-bg-color);
}
