.ac_bb_title .elementor-accordion-item:not(:last-child) {
  border-bottom: none;
}
.elementor-accordion.ac_bb_active_title .elementor-tab-title.elementor-active {
  border-bottom: none !important;
  border: none;
}
.elementor-accordion.ac_bb_active_title .elementor-accordion-item.current .elementor-tab-content {
  border-top: none;
}
.elementor-accordion.ac_bb_active_title .elementor-tab-content {
  border-top: none;
}
.the7-adv-accordion.elementor-accordion .elementor-accordion-item {
  border-color: var(--e-global-color-the7_dividers_color);
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title {
  display: flex;
  margin: 0;
  align-items: center;
  transition: all 300ms ease;
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon {
  line-height: 1px;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  padding: 0.5em;
  background-color: #818a91;
  color: #fff;
  fill: #fff;
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title i {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title i:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title .elementor-accordion-title {
  transition: all 300ms ease;
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-right {
  float: right;
  text-align: right;
  width: auto;
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-left {
  float: left;
  text-align: left;
  width: auto;
}
.the7-adv-accordion.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-tab-icon .elementor-icon {
  transition: all 300ms ease;
}
.the7-adv-accordion.elementor-accordion .elementor-accordion-title {
  order: -1;
  margin-right: auto;
  max-width: calc(84%);
}
.the7-adv-accordion.elementor-accordion .elementor-accordion-icon.elementor-accordion-tab-icon .elementor-icon {
  color: var(--the7-accent-color);
  border-style: solid;
  border-width: 0px;
  border-color: var(--the7-accent-color);
}
.the7-adv-accordion.elementor-accordion .elementor-accordion-icon.elementor-accordion-tab-icon .elementor-icon svg {
  color: var(--the7-accent-color);
}
.the7-adv-accordion.elementor-accordion .elementor-accordion-icon:not(.elementor-accordion-tab-icon).elementor-accordion-icon-right {
  transition: all 300ms ease;
}
.the7-adv-accordion.elementor-accordion .elementor-accordion-icon:not(.elementor-accordion-tab-icon).elementor-accordion-icon-left {
  transition: all 300ms ease;
}
.elementor-accordion .elementor-accordion-item .elementor-tab-content {
  border-top-color: var(--e-global-color-the7_dividers_color);
}
.elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active {
  border-bottom-color: var(--e-global-color-the7_dividers_color);
}
.ac_top_bottom_borders .elementor-accordion-item:first-child {
  border-top: none;
}
.ac_top_bottom_borders .elementor-accordion-item:last-child {
  border-bottom: none;
}
.ac_left_right_borders .elementor-accordion-item {
  border-left: none;
  border-right: none;
}
.the7-adv-accordion span.elementor-accordion-tab-icon.elementor-accordion-icon.elementor-accordion-icon-right {
  order: 2;
}
.the7-adv-accordion span.elementor-accordion-icon.elementor-accordion-icon-right {
  order: 3;
}
.the7-adv-accordion span.elementor-accordion-icon.elementor-accordion-icon-left {
  order: -1;
}
.the7-adv-accordion span.elementor-accordion-tab-icon {
  line-height: 0.1em;
}
.the7-adv-accordion div.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_normal_size-font-family);
  font-weight: var(--e-global-typography-the7_normal_size-font-weight);
}
.the7-adv-accordion h1.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_h1-font-family);
  font-weight: var(--e-global-typography-the7_h1-font-weight);
}
.the7-adv-accordion h2.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_h2-font-family);
  font-weight: var(--e-global-typography-the7_h2-font-weight);
}
.the7-adv-accordion h3.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_h3-font-family);
  font-weight: var(--e-global-typography-the7_h3-font-weight);
}
.the7-adv-accordion h4.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_h4-font-family);
  font-weight: var(--e-global-typography-the7_h4-font-weight);
}
.the7-adv-accordion h5.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_h5-font-family);
  font-weight: var(--e-global-typography-the7_h5-font-weight);
}
.the7-adv-accordion h6.elementor-tab-title .elementor-accordion-title {
  font-family: var(--e-global-typography-the7_h6-font-family);
  font-weight: var(--e-global-typography-the7_h6-font-weight);
}
.the7-adv-accordion div.elementor-tab-content {
  font-family: var(--e-global-typography-the7_big_size-font-family);
  font-weight: var(--e-global-typography-the7_big_size-font-weight);
}
